<div id="main_wrapper">
  <div id="wrapper">
  <a href="/"><%=image_tag "logo_img.png", :id => "sub_page_logo",:alt=>"logo",:title=>"Home"%></a>
<div id="activity">
<% @activities_detail.each do|activity_detail| %>
  <div id="main_activity">
    <%= image_tag "#{activity_detail.image_path}", :class=>"image_activity";%>
    <%= activity_detail.headline%>
    <%= activity_detail.text%>
  </div>
<%end%>
</div>
 </div>
  </div>
