/*........about us...........*/

#wrapper_1,#wrapper_5,#wrapper_8,#wrapper_10{
  background:#519aad;
 padding:30px 0 30px 0;
  width:100%;
  float:left;
}

.main_content{
  width:960px;
  margin:0 auto;
   display:block;
}
.content_text,.profile{
border-top:5px solid #636969;
 float:right;
 padding-top:20px;
 width:730px;
 display:block;
  font:normal 16px/21px "arial",serif;
 color:#fff;

}
.intro_content{
  float:right;
  width:730px;

}
.profile_img{
  float:left;
  display:block;

}
.profile_text{
 float:left;
 display:block;
 margin:105px 0 0 40px;

}



.name {
    color: #519AAD;
    width: 110px;
}
.profile_text span{
  color:#545D5C;
 font-family: "arial",serif;

}
.profile_cont{
  width:960px;
  height:200px;
  padding:30px 0 0 0;

}
.content_title{
  display:block;
  float:right;
  background:#636969;

  padding:10px;
  margin:0 0 30px 0;
  border-radius:5px;

}
.orgaization_title{
  display:block;

  background:#636969;

  padding:10px;
  margin:0 0 30px 0;
  border-radius:5px;

}
.content_title span,.objective_title span,.profile_title span{
text-align:center;
color:#fff;
  font:'arial',serif;
  text-align:center;


}

#wrapper_2,#wrapper_3,#wrapper_9{
  background:#fff;
 padding:30px 0 30px 0;
  width:100%;
  float:left;
}
.objective_text,.profile,.org_img{
 border-top:5px solid #636969;
 float:left;
 padding-top:20px;
 width:960px;
 display:block;
  font:normal 16px/21px "arial",serif;
 color:#545d5c;

}
.objective_title{
  display:block;
  float:right;
  background:#636969;

  padding:10px;
  margin:0 0 30px 0;
  border-radius:5px;

}
.profile_title{
  display:block;
  float:left;
  background:#636969;

  padding:10px;
  margin:0 0 30px 0;
  border-radius:5px;

}
