
#slider_text_text {

  margin: 0 auto;
  position: relative;
}
.panel h3{
 color:#027C02;
  font:normal 24px "arial",serif;

}
.panel p {
text-align:justify;
font:normal "arial",serif;
color:#fff;
padding:0 0 30px 0;

}
.panel span {
 color:#545D5C;
font:normal  15px "arial",serif;
margin:20px 0 0 0;
}
.scroll {

  overflow: auto;

    float: left;

    overflow: hidden;
    width: 640px;
}
.navigation{
 margin:0 0 0 95px;
}
#slider_text li{

display:block;
  float:left;
  background:#545d5c;

  padding:10px;
  margin:6px 0 0 12px ;
  border-radius:5px;
}
#slider_text li:hover{
background:#027C02;

}
.scrollContainer div.panel {
  padding: 20px;

  width: 580px; /* change to 560px if not using JS to remove rh.scroll */
}
.scrollButtons {
  position: absolute;
  top: 150px;
  cursor: pointer;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}
/*...........end of branch jquery slider_text.....*/
