
form{
 margin-top:50px;

}
label{
width: 160px;
float: left;
text-align: left;

display: block;
font-size:16px;
color:#545D5C;
font-family: 'arial',serif;
}
form h1 {
    color: #545D5C;
    padding: 20px 0 25px;
    text-align: center;
    text-decoration: underline;
}
form p{
   padding:12px 0 0 0;

}
.form_content{
  float:right;
}
.form_title{
  display:block;
  background:#f1d36e;
  padding:10px;
  margin:20px 0 0 0;
   border-radius:5px;
font-family: 'arial',serif;
  float:left;
  margin:20px 0 0 0px;
  width:940px;

}

.form_text{
 float:left;
 display:block;
 margin-top:30px;
}
.form_title span{
  text-align:center;
color:#636969;
  font:normal 22px 'arial',serif;
  text-align:center;


}
strong,td{
 color:#fff;
}
form input{
 width:390px;
}
#education input{
width:160px;
}
#work input{
 width:233px;
}
#work select{
 width:114px;

}
#reference input{
 width:390px;
}
#submit{
float:left;
}
#submit input{
 width:100px;
}

/*.........end of jobs page..........*/
