
label{
width: 160px;
float: left;
text-align: left;
margin-right: 20px;
display: block;
font-size:16px;
color:#ad6544;
font-family: 'Habibi',serif;
}


#sex{
			color: #aa6544;
}

#any{
		 color:#aa6544;
		 margin-left:240px;
		 margin-top:-37px;
}

#work{
				color: #aa6544;
				font-family: 'Habibi',serif;

}

#education{
						color: #aa6544;
						font-family: 'Habibi',serif;
}


#training{
					color: #aa6544;
					font-family: 'Habibi',serif;
}

#language{
					color: #aa6544;
					font-family: 'Habibi',serif;
}
#submit{
					margin-left:250px;
}

/*.........end of jobs page..........*/
