#wrapper_6{
  background:#519aad;
 padding:30px 0 30px 0;
  width:100%;
  float:left;
}
form{
 margin-top:50px;

}
label{
width: 160px;
float: left;
text-align: left;
margin-right: 20px;
display: block;
font-size:16px;
color:#545D5C;
font-family: 'arial',serif;
}
form h1 {
    color: #545D5C;
    padding: 20px 0 25px;
    text-align: center;
    text-decoration: underline;
}
form p{
   padding:12px 0 0 0;

}
strong,td{
 color:#fff;


}
#sex{
			color: #aa6544;
}

#any{
		 color:#aa6544;
		 margin-left:240px;
		 margin-top:-37px;
}

#work{
				color: #545D5C;
				font-family: 'arial',serif;

}

#education{
						color: #aa6544;
						font-family: 'arial',serif;
}


#training{
					color: #aa6544;
					font-family: 'arial',serif;
}

#language{
					color: #aa6544;
					font-family: 'arial',serif;
}
#submit{
					margin-left:250px;
}

/*.........end of jobs page..........*/
