// Place all the styles related to the news_activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.news_list {
list-style:none;
  }
.news_list li{
  font:

}
  .act{
 float:left;
 margin-top:20px;
  margin-left:5px;
 border-radius:10px;

}
.activities_text{
   height:120px;
   border-bottom:1px dashed #545D5C;
}
.news_and_events_text{
   height:60px;
   border-bottom:1px dashed #545D5C;
}
.activities_img{
  border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 20px 0 0 10px;
    height:50px;
    width:auto;
  }
.activities_text p{
    float: right;
    padding: 6px 0 30px;
    width: 175px;
}


.activities_read{

     border-radius: 4px 4px 4px 4px;
    color: #ffffff;

    height: 25px;
    margin: 2px 103px 0 0;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;

}
