/*...........services............*/

h1{
  color:#545d5c;

  font:normal "arial",serif;
  padding:0 0 25px 0;
}
h2{
  color:#519aad;
  font:normal "arial",serif;
    padding:12px 0;
}
h3{
  color:#545d5c;

  font:normal 14px "arial",serif;
  padding:15px 0;
}
