<div id="wrapper">
<span class='user'>Welcome! You are logged in as <%= current_admin_user.email%></span>

<a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    margin:0 auto;
    height: 194px;

    width: 172px";%></a>

</div>
