
<div id="wrapper">

              		 <div id="slider">
  <ul class="navigation">
    <li><a href="#sites">Introduction</a></li>
    <li><a href="#files">Objectives</a></li>
    <li><a href="#editor">Vision</a></li>

  </ul>

  <!-- element with overflow applied -->
  <div class="scroll">
    <!-- the element that will be scrolled during the effect -->
    <div class="scrollContainer">
      <!-- our individual panels -->
      <div class="panel" id="sites"> <h3>Introduction</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p> </div>



      <div class="panel" id="files"> <h3>Objectives</h3><span>Group saving:</span><p>When women becomes member of the organization they have to deposit
														allocated amount of compulsary saving every fortnight. They can withdraw
														the amount when the member leavs the organization. WSC provides interest
														according to organization rule. Depositor deposit small amount in installmen
														basis, when leave the organization they get large amount. In this way, it
														seems small amount. thus its onto making ocean with drops and drops.
													</p>

													<span>pesonal saving:</span><p>Accordin to members need they can deposit or withdraw their savings at any time
														These types of saving at any time. These types of saving are categorized as
														personal savings. These Organization provides 8.0 percent nterest on this saving
														schemes. personel depositor can withdrae their personal saving whenever they need
														to pay loan installment repayment or other expenses.
													</p>

														<span>Yojana saving (plan saving):</span><p>Considering the member future security, WSC has managed this kind of saving called
															 Yojana saving. These type of saving have long term vsion and it is different from other
																saving schemes. This type of product is like a pension saving. In this scheme, member
																members can deposit same amount of money in every center meeting for 10 to 15 years.
															when member reach the maturity of 10 years, they can get one and half amount of their
															deposited money. When deposit period crosses 15 years, the depositor shall get double
															amount of the deposited money. If the depositor wants to call-off before descr
															timeline shall get 5.0 percent interest on their deposit. It is compulsary saving
															schemes but the amount they deposit is volunteer. From the saving they can get contigent
																				loan.
														</p>

														<span>Upakar kosh:</span><p>all the penalties, donations, prizes and other funds are kept on this Kosh(fund). This
																kosh is used according to the decision of the center meeting.
														</p></div>





      <div class="panel" id="editor"><h3>Vision</h3><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p> </div>

    </div>
  </div>
</div>


</div>
