<div id="banner">
<a href="#" ><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"logo"%></a>
  <div id="banner_content">


        <h1 id="intro" >11 Years Of Exellence In Microfinance Service</h1>
      <div id="sub_banner_content">
          <p id="intro_text">Women Support Cooperative Ltd. (WSC) was established by 28 professional women promoters on December 20, 1999 under the "Cooperative Act, 1992", Government of Nepal. The main objectives of WSC is to empowerment rural as well as urban poor and deprived women providing financial supports through Micro Finance Program of its service areas of Kathmandu District.
          </p>

        </div><!---end of sub_banner_content -->
        <div id="sub_banner_image_title">
                <%= image_tag "logo.png", :id=>"title_img"%>
                <span id="read_more">READ MORE ABOUT US</span>
        </div> <!---end of sub_banner_image_title -->

  </div> <!-- end of banner_content -->
 </div>
<div id="wrapper">
       				
              			<div id="background">
              			     <h2>Background</h2>
              							 <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
<br/>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
            	  	  </div><!--end of back ground-->
			<div id="section2">
						<div id ="vision">
										<h2>Vision</h2>
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
							</div><!--end of vision-->
							
						<div id="subtitle">
								<h2>A Subtitle</h2>
												<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
												</p>
							
							</div><!--end of sub-->
		</div><!--end of section2-->								               
                   
</div>

