<div id="main_wrapper">
  <div id="wrapper_1">
    <div class="main_content">
    <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 192px;
    margin: 0 20px 0 0;
    width: 204px";%></a>
       <div class="intro_content">
         <div class="content_title">
           <span>Mission</span>
         </div>
         <div class="content_text">

               <p>The mission of WSC is to provide quality Microfinance services
                   to the largest number of people under poverty and
		              deprived household to improve economic as well as social status of rural and urban 										women members of WSC. The Main Goal of WSC is to provide qualitative Microfinance 									services to  deprived and marginalized women of its service areas. To enhance the 									Socio Economic status of Microfinance members WSC has launched Community Development 										programs. Under  this programs. WSC provides necessary know-how, skill development 										training and other support services to build up women's capacity for the 										establishment of local level enterprises. WSC has made a bold objective for the 									women in order to up-lift their socio-economic status.
               </p>

               <h3> Building Local Capacity And Fund Mobilization:</h3>
					      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WSC's programs are designed on strengthening the capacity of local
					       Micro-enterprise, institutions and organizations to

					      promote the local entrepreneurship's. Efforts are made to enhance women's capacities
					      in developing   enterprises and generating
					      employment opportunities that ultimately help to raise the status of women of the 								program areas. </br>
					       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WSC is geared towards designing saving and credit programs offering attractive interest rates to encourage women to mobilize
					    	their small and idle funds. It strives to provide efficient and economical
					     	credit facilities to the deprived communities to
					    	promote local entrepreneurship. Further, it aims to facilitate easy
					    	mobilization of funds between rural and urban areas.
					    	The institution also aims to manage capital through various financial intuitions.
					 </p>
         </div>
        </div><!--end of intro_content-->
     </div>
   </div>
<div id="wrapper_2">
   <div class="main_content">
     <div class="intro_content" style="float:left;width:960px;margin:0 auto;">
       <div class="objective_title">
         <span>Achievements</span>
       </div>
       <div class="objective_text">
                     <h2>Oriented Towards Self-Sufficiency</h2>
			                <p> WSC is running on profit since one decade. In the the initial stage there 											were three staff and 171 clients. In F/Y 2067/068 it has reached 41 staff and 815f4 clients. The organization became financially viable, because it has Rs. 2.6 million in its reserve fund and 4.5 million share capitals. WSC has providing facilities to its staff. It has increasing its basic salary time to time depending on its economic situation. So financial self sufficiency is the key factor and it helps to make organization stronger and brighter so its future is quite bright. As end of Ashad 2068 there was NRs. 90,194 operational loss and till 2068 Ashad, there is Rs. 2.7 million profits.                       </p>
                      <h2>Woman and Economic Empowerment</h2>
					             <p>Women are involve not only in household works they are involve outside activities too. WSC has conducted various training workshop and other awareness raising activities. Women economically, socially, psychologically politically empowered. They participated actively on local level development activities.</p>
													<p>WSC has supported on vegetable farming, cash crop growing, organic farming and other various training. Like that Leadership for women empowerment, women and child care camp and different types community level interaction program are also organized. Socially women as well as society are empowered. For example, women participation in community works has increased, feeling of untouchable is reduced and respect to the women from their family and society raised.
													The dependency on money lenders and relatives have decreased.
                        </p>
                     	<h2>Creation of Self-employment and Solidarity</h2>
				              	<p >Women Support Microfinance program has given earning opportunity to the poor family by providing loan, training support and knowledge. From this they have started their small business at local level. They have started small micro enterprises like poultry farming, vegetable farming, dairy products, restaurants, cosmetic and ready made shops
 etc. In this micro-enterprise clients and their family member are engaged. From above statement WSC has given some contribution to national economy and supported nation.</p>
											<p>Microfinance program helps to make net work among females. Females haves their forum to express their feelings. They can get notice, help each other, when some problem occurred they faced easily. Thus as a professional organization WSC has aiming to recognize itself as a sound and qualitative cooperative microfinance organization in the country. Let us hope for the betterment of this organization.
                      	</p>
                    	<h2>Social empowerment Reduced Gender Violence</h2>
			            		 <p>In the society women's social status have been raised. They are involved in decision making process with their husbands and male partners. They internalized their group strength of their center. They started expressing their views male partners. Society has recognized women as persons like other male of their society.</p>
												<p>Some sort of domestic violence in Nepalese society is common especially because of lack of education and lack of adequate resources for to finance the household and children. Because of low income they have to leave hand to mouth. Increment in income of women, perception and behavior of males partners to women has been positively changed. This is a pretty good indicator of the program.
				            	  </p>
                    </div>
                   </div>
                 </div>
               </div>

           <%= render :partial => 'footer'%>
       </div>
