<div id="main_wrapper">
<div id="wrapper_1">


<div class="main_content">
<a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 194px;
    margin: 0 20px 0 0;
    width: 172px";%></a>
<div class="intro_content">
<div class="content_title">
<a href="#wrapper_1"><span>Objectives</span></a>
</div>

<div class="content_text">


<h1> Tageted Mission:</h1>


	<p>The Mission of WSC is to provide quality Micro Finance Services to the largest number people under poverty and
		 deprived household to improve economic as well as social status of rural and urban women members of WSC.
		 The Main Goal of WSC is to provide qualitative Microfinance services to  deprived and marginalized women
		 of its service areas. To enhance the Socio Economic status of Microfinance members WSC has launched Community
		  Development programs. Under  this programs. WSC provides necessary know-how, skill development training and
		 other support services to build up women's capacity for the establishment of local level enterprises.
	   WSC has made a bold objective for the women in order to up-lift their socio-economic status.
   </p>


 <h3> Main Objective:</h3>


	 <p>The main objective of WSC is to uplift  the Economic Status of poor and marginalized women of rural
	    and as well as urban areas.  In order to achieve the objectives, WSC is dedicated to work for the following specific
     ideas:</p>
       <ul>
				 <li>To empower and strengthen the poor women through social
				     mobilization and promotion of income generating activities.
				 </li>
				 <li>To create employment opportunities by mobilizing local resources, improving skills and entrepreneurship and
						 supporting with possible external resources.
				 </li>
				 <li> To provide savings and credit facilities and technical supports to the target group.
				 </li>
				 <li> To empower women through skill development training.
				 </li>
				 <li> To provide Micro-credit to poverty-striken family and woman.
				 </li>
			 </ul>
 <h3> Building Local Capacity And Fund Mobilization:</h3>
					    <p >WSC's programs are designed on strengthening the capacity of local
					        Micro-enterprise, institutions and organizations to
					       promote the local entrepreneurships. Efforts are made to enhance women's capacities
					        in developing   enterprises and generating
					      employment opportunities that ultimately help to raise the status of women of the program areas.
					     is geared towards designing saving and credit programs offering attractive
					     interest rates to encourage women to mobilize
					    their small and idle funds. It strives to provide efficient and economical
					     credit facilities to the deprived communities to
					    promote local entrepreneurship. Further, it aims to facilitate easy
					    mobilization of funds between rural and urban areas.
					    The institution also aims to manage capital through various financial intuitions.
					 </p>


   </div>
   </div>
</div>

</div>


<div id="wrapper_2">


<div class="main_content">

<div class="intro_content" style="float:left;width:960px;margin:0 auto;">
<div class="objective_title">
<a href="#wrapper_2"><span>Saving Collection</span></a>
</div>

<div class="objective_text">
      <article>
                <h1>Acheivements</h1>
                    <h2>"Oriented Towards Self-Suffeciency:"</h2>
			                <p> WSC is running on profit since one decade. The staffs here are energetically
				                working in our organization that are dedicated towards the future of organization and
				               its large number of clients. It is because WSC has been providing good facilities to the working Staffs aswell.
				                It has been increasing its basic salary from time to time depending on country's
				                economic situation. Being financially self-sufficient, WSC has already built a better good-will
					              among its clients.

            					</p>

			            <h2>"Woman and Economic Empowerment:"</h2>
					            <p >WSC has been playing its role for the families that are economically weak.
					                It has been encouraging people and giving various training on vegitable farming,
				                	cash-crop growing and organic farming etc by providing low interest loans.
					                Similarly, leadership for woman empowerment, child-care camp and different types of
		                			community level interaction program are also organized. Women not only involves
		                			in household works but they are also encouraged to get themselves involved in other
		                			benificial activities too by offering them a participation in various training workshops
		                			and awareness raising programs. Thus we have acheived success in empowering Women economically,
		                			socialy, psychologically and retaining respect for them within their family and Society aswell.

		            			</p>


		             	<h2>"Creation of Self-employment and Solidarity:"</h2>
				              	<p >Women support Microfinance program has given earning oppertunity to the poor family by
				               	loan, training support and knowledge. From this, they have already started their small business
              					at local level. They have started small micro enterprises like poultary farming, vegitable farming,
					              dairy products, resturants, cosmetic and ready made shops. This way WSC has also been providing
				               	its contribution in national economy and Nation developement. Which signifies that WSC has aim to
              					recognize itself as a sound and qualitative cooperative microfinance organization.

				              	</p>



		            	<h2>  "Social empowerment Reduced Gender Voilence:"</h2>
			            		<p >Since women are taught to be involved in decision making process with their husbands and male
						             partner by expressing their views and opinion. This has brought a drastic change in lifestyle
		     				        of the family that were economically suffering. The awareness programs conducted among illetrate and
            						uneducated family have recuced domestic conflict and voilence in vast range. Increament in income
						            of woman, has changed perception and behaviour of their males towards them and their relationship
				            		has been elevated to the differnt level.
				            	</p>

                </article>
<div id="wrapper_3">


<div class="main_content">

<div class="intro_content" style="float:left;width:960px;margin:0 auto;">
<div class="objective_title">
<a href="#wrapper_3"><span>Loan Disbursement</span></a>
</div>

<div class="objective_text">
  <h2>General loan</h2>
			<p>For the purpose of income generating activities of the clients, general loan of Rs. 15000.00
				 is provided as first year loan utility and regular repayment status Rs. 5000.00 is is increased
			  	loan amount every year. The rate of interest on providing loan is 25.0 percent. Upto the last
					fiscal year 2067/68 WSC has Rs. 71.44 million general loan outstanding
				</p>
	<h2>Seasonal loan</h2>
		 <p>If a loan bearer needs an additional loan after taking general loan then a person can get
				seasonal loan. All the processes of providing loan, loan demand, recommendation, interest rate
				and attaining is like that of general loan process.
			</p>
	<h2>Contingency loan</h2>
			<p>This type of loan is provided to meet contingency events such as pay the school fee of the client's
				children and medical treatment of client's and their family. General loan bearer can get this loan
				maximum of Rs. 2000  for the five months of the period. This type of loan is not for the purpose of
					investment in income generating activities.
			</p>


   </div>
   </div>
</div>

</div>
 <%= render :partial => 'footer'%>
 </div>
