<div id="main_wrapper">
<div id="wrapper_5">

  <div class="main_content">
<a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 192px;
    margin: 0 20px 0 0;
    width: 204px";%></a>

   <div id="slider_text">
  <ul class="navigation">
    <li><a href="#balaju">Balaju</a></li>
    <li><a href="#files">Mahadevsthan</a></li>
    <li><a href="#editor">Manamaiju</a></li>
    <li><a href="#Basundhara">Basundhara</a></li>
    <li><a href="#Balkhu">Balkhu</a></li>
     <li><a href="#Mahankaal">Mahankaal</a></li>

  </ul>

  <!-- element with overflow applied -->
  <div class="scroll">
    <!-- the element that will be scrolled during the effect -->
    <div class="scrollContainer">
      <!-- our individual panels -->
<div class="panel" id="balaju"> <h3>Balaju</h3>
                 <p>Mahadevsthan Contact Office was established on 2063 B.S. It is situated at Balambu V.D.C.-1, Kisipidi i.e. the west part of Kathmandu District. As end of Asadh 2068, it has 77 centers and 1949 members covering 10 V.D.C. of Kathmandu District. 1389 number of members have taken loan for different purpose such as animal raising, vegetable farming and vegetable shop.</p>
                <div id="members">

                     <div class="table">
                      <label class="staff">Name:</label><span> Dr. Prof. Pushpa shrestha</span></br>
                      <label class="staff">Designation:</label><span>Chairperson</span></br>
                      </div>
                             <div class="table">  <label class="staff">Name:</label><span>Kamal Kumar Kafle</span></br>
                            <label class="staff">  Designation:</label><span>Manager</span></br> </div>
                               <div class="table"> <label class="staff">Name:</label><span>Nani Shobha Maharjan</span></br>
                              <label class="staff">Designation:</label><span>Assistance Manager</span></br> </div>
                             <div class="table">  <label class="staff">Name:</label><span>Binod Adhikari</span></br>
                              <label class="staff">Designation:</label><span>Field Manager</span></br> </div>
                              <div class="table">  <label class="staff">Name:</label><span>Suchana Ghimire</span></br>
                              <label class="staff">Designation:</label><span>Senior Office Assistant</span></br> </div>
                </div>

                 <h3>Contacts:</h3>
                 <span>Women Support cooperative ltd.</br>
               Mahadevsthan,Kathmandu</br>
                +977-1-4315303</br>
                wscl2056@gmail.com</span>


              </div>
              <div class="panel" id="files"> <h3>Mahadevsthan</h3>
                 <p>Mahadevsthan Contact Office was established on 2063 B.S. It is situated at Balambu V.D.C.-1, Kisipidi i.e. the west part of Kathmandu District. As end of Asadh 2068, it has 77 centers and 1949 members covering 10 V.D.C. of Kathmandu District. 1389 number of members have taken loan for different purpose such as animal raising, vegetable farming and vegetable shop.</p>
              <div id="members">

                     <div class="admin">
                       <label class="staff">Branch Manager:</label><span>ManKumar Rai</span></br>
</div>

                </div>

                 <h3>Contacts:</h3>
                 <span>Women Support cooperative ltd.</br>
               Mahadevsthan,Kathmandu</br>
                +977-1-4315303</br>
                wscl2056@gmail.com</span>


              </div>
              <div class="panel" id="editor"><h3>Manamaiju</h3>
              <p>The Manamaiju Contact Office was established in 2064 Baisakh. It is situated at Manamaiju V.D.C. ward no.9 at Dandagaon. As end of Asadh 2068. This contact office has 95 centers and 2388 members covering 9 V.D.C. of Kathmandu District. 1554 numbers of members have borrowed loan for different purposes, for example they have taken loan for goat raising, vegetable farming and vegetable shop etc.
</p>
 <div id="members">

                     <div class="admin">
                        <label class="staff">Branch Manager&nbsp;:</label><span>Ramesh Adhikari</span></br>
</div>
                </div>

                 <h3>Contacts:</h3>
              <span>Women Support cooperative ltd.</br>
               Manamaiju,Kathmandu</br>
                +977-1-4026109</br>
                wscl2056@gmail.com</span>

							</div>
						  <div class="panel" id="Basundhara"><h3>Basundhara</h3>
						  <p>The Basundhara Contact Office was established on 2064. It is situated at Dhapasi V.D.C. ward no.3 at Basundhara. As end of Asadh 2068 this contact office has 75 center and 1419 members covering 2 V.D.C. and Kathmandu Municipality. 1289 numbers of members have taken loan for different purposes, specially retail shop, cosmetic shop, vegetable and fruits business etc.</p>
						   <div id="members">

                     <div class="admin">
                       <label class="staff">Branch Manager&nbsp;:</label><span>Basanta Kumar Sharma</span></br>
</div>
                </div>

                 <h3>Contacts:</h3>
						  <span>Women Support cooperative ltd.</br>
               Basundhara,Kathmandu</br>
                +977-1-4384941</br>
                wscl2056@gmail.com</span>

							</div>
							<div class="panel" id="Balkhu"><h3>Balkhu</h3>
							<p>The Balkhu Contact office was established on Ashar 2066. It is situated in Kathmandu metropolitan-13 at Balkhu. As end of Asadh 2068, this contact office has 84 centers and 1500 members covering Kritipur and Kathmandu Municipality. 1465 number of member have taken loan for different purposes such as retail shop, cosmetic shop, vegetable growing and fruits business etc.</p>

							<div id="members">

                     <div class="admin">
                       <label class="staff">Branch Manager&nbsp;:</label><span>Shivahari Bhandari</span></br>
</div>

                </div>

                 <h3>Contacts:</h3>
                 <span>Women Support cooperative ltd.</br>
               Balkhu,Kathmandu</br>
                +977-1-4036288</br>
                wscl2056@gmail.com</span>

							</div>
							<div class="panel" id="Mahankaal"><h3>Mahankaal</h3>
<p>The Mahankal Contact Office was established in 2067. It is situated at Mahankal V.D.C.-3, Hattigaun. As end of Asadh 2068, under this contact office there are 40 centers and 799 members covering 8 V.D.C. of Kathmandu District. 611 numbers of member have borrowed loan for different purposes, for example they have taken loan for goat raising, vegetable farming and retails shop etc.</p>
<div id="members">

                     <div class="admin">
                       <label class="staff">Branch Manager&nbsp;:</label><span>Sharada Adhikari</span></br>
</div>

                </div>

                 <h3>Contacts:</h3>
   <span>Women Support cooperative ltd.</br>
               Mahankal,Kathmandu</br>
                +977-1-4372057</br>
                wscl2056@gmail.com</span>

							</div>
				</div>
	</div>

</div>
</div>

 <%= render :partial => 'footer'%>
</div>
