<div id="wrapper">
<a href="/"><%=image_tag "logo_img.png", :id => "sub_page_logo",:alt=>"logo",:title=>"Home"%></a>
   <div id="slider">
  <ul class="navigation">
    <li><a href="#sites">Balaju</a></li>
    <li><a href="#files">Mahadevsthan</a></li>
    <li><a href="#editor">Manamaiju</a></li>
    <li><a href="#Basundhara">Basundhara</a></li>
    <li><a href="#Balkhu">Balkhu</a></li>
     <li><a href="#Mahankaal">Mahankaal</a></li>

  </ul>

  <!-- element with overflow applied -->
  <div class="scroll">
    <!-- the element that will be scrolled during the effect -->
    <div class="scrollContainer">
      <!-- our individual panels -->
              <div class="panel" id="sites"> <h3>Balaju</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
                   <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>


							</div>
              <div class="panel" id="files"> <h3>Mahadevsthan</h3>
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
                 <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>


              </div>
              <div class="panel" id="editor"><h3>Manamaiju</h3>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
              <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

							</div>
						  <div class="panel" id="Basundhara"><h3>Basundhara</h3>
						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
						  <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

							</div>
							<div class="panel" id="Balkhu"><h3>Balkhu</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
							<p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

							</div>
							<div class="panel" id="Mahankaal"><h3>Mahankaal</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber</p>
<p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

							</div>
				</div>
	</div>
 </div>
</div>
