<div id="main_wrapper">

<div id="wrapper_1">
  <div class="main_content">
    <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 194px;
    margin: 0 20px 0 0;
    width: 172px";%></a>
    <div class="intro_content">
      <div class="content_title">
      <a href="#wrapper_1"><span>Words From Chairperson</span></a>
  </div>

  <div class="content_text">
   <p>
     Women Support Cooperative Ltd. (WSC) was established by 28-professional women promoters on December 20, 1999 under the "Cooperative Act, 1992", Government of Nepal. The main objectives of WSC is to empowerment rural as well as urban poor and deprived women providing financial supports through Micro Finance Program of each service areas of Kathmandu District.
      Since its inception period, WSC has internalized the idea that success is possible if one learns from each past experiences and implement them honestly. Due to its sincere and dedicated Board of Directors and Staff of WSC has become a popular organization among the people in its program areas.
        The mission of WSC is to provide quality Micro Finance Services to the largest number of poor and deprived household to improve economic as well as social status of rural and urban women that are members of WSC.
        The main Goal od the WSC is to provide qualitative Micro Finance Services to deprived and marginalized women of its service areas.

     </p>
  </div>

</div>
</div>
</div>
<%= render :partial => 'footer'%>
 </div>
