<div id="main_wrapper">

<div id="wrapper_1">
  <div class="main_content">
    <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 194px;
    margin: 0 20px 0 0;
    width: 172px";%></a>
    <div class="intro_content">
      <div class="content_title">
      <a><span>Words From Chairperson</span></a>
  </div>

  <div class="content_text">
   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I heartily welcome and thank you all the promoters, shareholders and all the other participantes for participating in the 11th Annual  General Meeting of Women Support Co-operative Ltd.</br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We don't have to hesitate for saying microfinancing service is a business. Through this program we deploy positive changes in the living style of deprived and poor people by providing small loans in their home areas. We serve deprived sector without involving and interfering any banks. But these services cannot be offered for free, interest must be charged cause of the operating cost, administrating cost and other miscellaneous cost of the organization must be obtained. Organization cannot be run suffering losses which won't be a long-term plan. So,interest must be taken. What are the differences between other business and this kind of microfinancing services? The answer can be easily obtained because these question can be answer by any ordinary person. This program won't make richer rich but gives opportunities to poor people to uplift from poverty line, this program shows the service provided by one person to another person. Both the service provider and receiver gets the esteem satisfaction. This type of program gives spiritual satisfaction which must be accepted with a open heart.Thus Prof. Muhammad Yunus stated it not just as a business but it is also a social business, the program wont just change the living style of the person but also changes the way he thinks, talk, behaviour towards his family and children, to social ill-doing like domestic violence against women and children, small crimes, etc. can also be minimized. Through this program social awareness can be raised and it also helps in economic growth not just for a certain person but a country as a whole.</br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;At last, I like to thank and give my regrades to all our shareholder and staff of this Women Support Co-operative for working in such a noble program.

     </p>
  </div>

</div>
</div>
</div>
<%= render :partial => 'footer'%>
 </div>
