<div id=main_wrapper>
<div id="wrapper_6">
<div class="main_content">
<a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 194px;
    margin: 0 20px 0 0;
    width: 172px";%></a>
<div class="intro_content">
      <form>
<h1>PERSONAL DETAILS</h1>
   <p><label for="name"> Full Name</label>
<select id="title" name="title">
<option selected="" value="Mr.">Mr.</option>
<option value="Ms.">Ms.</option>
</select>
<input type="text" id="name" /></P>
<p><label for="name">Father's Name</label><input type="text" id="name" /></P>
<p><label for="date">Date of Birth </label>
<select name="day">
<option value="1">1 </option>
<option value="2">2</option>
<option value="3">3 </option>
<option value="4">4 </option>
<option value="5">5 </option>
<option value="6">6 </option>
<option value="7">7 </option>
<option value="8">8 </option>
<option value="9">9 </option>
<option value="10">10 </option>
<option value="11">11 </option>
<option value="12">12 </option>
<option value="13">13 </option>
<option value="14">14 </option>
<option value="15">15 </option>
<option value="16">16 </option>
<option value="17">17 </option>
<option value="18">18 </option>
<option value="19">19 </option>
<option value="20">20 </option>
<option value="21">21 </option>
<option value="22">22 </option>
<option value="23">23 </option>
<option value="24">24 </option>
<option value="25">25 </option>
<option value="26">26 </option>
<option value="27">27 </option>
<option value="28">28 </option>
<option value="29">29 </option>
<option value="30">30 </option>
<option value="31">31 </option>
<option value="32">32 </option>
</select>
<select name="month">
<option value="1">January </option>
<option value="2">February </option>
<option value="3">March </option>
<option value="4">April </option>
<option value="5">May </option>
<option value="6">June </option>
<option value="7">July </option>
<option value="8">August </option>
<option value="9">September </option>
<option value="10">October </option>
<option value="11">November </option>
<option value="12">December </option>
</select>

<select name="year">
<option value="2012">2012 </option>
<option value="2011">2011 </option>
<option value="2010">2010 </option>
<option value="2009">2009 </option>
<option value="2008">2008 </option>
<option value="2007">2007 </option>
<option value="2006">2006 </option>
<option value="2005">2005 </option>
<option value="2004">2004 </option>
<option value="2003">2003 </option>
<option value="2002">2002 </option>
<option value="2001">2001 </option>
<option value="2000">2000 </option>
<option value="1999">1999 </option>
<option value="1998">1998 </option>
<option value="1997">1997 </option>
<option value="1996">1996 </option>
<option value="1995">1995 </option>
<option value="1994">1994 </option>
<option value="1993">1993 </option>
<option value="1992">1992 </option>
<option value="1991">1991 </option>
<option value="1990">1990 </option>
<option value="1989">1989 </option>
<option value="1988">1988 </option>
<option value="1987">1987 </option>
<option value="1986">1986 </option>
<option value="1985">1985 </option>
<option value="1984">1984 </option>
<option value="1983">1983 </option>
<option value="1982">1982 </option>
<option value="1981">1981 </option>
<option value="1980">1980 </option>
<option value="1979">1979 </option>
<option value="1978">1978 </option>
<option value="1977">1977 </option>
<option value="1976">1976 </option>
<option value="1975">1975 </option>
<option value="1974">1974 </option>
<option value="1973">1973 </option>
<option value="1972">1972 </option>
<option value="1971">1971 </option>
<option value="1970">1970 </option>
<option value="1969">1969 </option>
<option value="1968">1968 </option>
<option value="1967">1967 </option>
<option value="1966">1966 </option>
<option value="1965">1965 </option>
<option value="1964">1964 </option>
<option value="1963">1963 </option>
<option value="1962">1962 </option>
<option value="1961">1961 </option>
<option value="1960">1960 </option>
<option value="1959">1959 </option>
<option value="1958">1958 </option>
<option value="1957">1957 </option>
<option value="1956">1956 </option>
<option value="1955">1955 </option>
<option value="1954">1954 </option>
<option value="1953">1953 </option>
<option value="1952">1952 </option>
<option value="1951">1951 </option>
<option value="1950">1950 </option>
<option value="1949">1949 </option>
<option value="1948">1948 </option>
<option value="1947">1947 </option>
<option value="1946">1946 </option>
<option value="1945">1945 </option>
<option value="1944">1944 </option>
<option value="1943">1943 </option>
<option value="1942">1942 </option>
<option value="1941">1941 </option>
<option value="1940">1940 </option>
</select></p>
<p><label for="citizen">Nationality</label><input type="text" id="citizen" /></P>
<p><label for="citizenship">Citizenship No.:</label>
<input id="number" type="text" name="number"></p>
   <p><label for="address">Permanent Address</label><input type="text" id="address" /></P>
   <p><label for="address">Temporary Address</label><input type="text" id="address" /></P>
<p><label for="telephone">Telephone Number</label>
<input id="number" type="text" name="number"></p>
<p><label for="mobile">Mobile Number</label>
<input id="number" type="text" name="number"></p>
<p><label for="marital">Marital Status</label>
<select name="marital">
<option>Single</option>
<option>Married</option>
</select></p>
<p><label for="religion">Religion</label><input type="text" id="religion" /></P>
<p><label for="licence">Driving License </label>
<select name="driving">
<option>Yes</option>
<option>No</option></select>
<div id="any">(if any)</div></p>
<p><label for="email">Email Address</label>
<input id="Email" type="text" name="email">
<p>
<label for="upload">Upload File:</label>
<input type="file" size="38" name="UploadFile">
</p>
<div id="education">
<p align="center">
<h1>Education Background</h1>
</p>
<table cellspacing="5" cellpadding="5" border="0" >
<tbody>
<tr>
<td colspan="6"></td>
</tr>
<tr>
<td>
<strong>Degree</strong>
</td>
<td>
<strong>Name of the Degree</strong>
</td>
<td>
<strong>Graduation Year</strong>
</td>
<td>
<strong>College/ School</strong>
</td>
<td>
<strong>Board/ University</strong>
</td>
<td>
<strong>Percentage</strong>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="25">
<label style="cursor: pointer;" for="phd">
<input id="phd" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('phd');" value="phd" name="phd">
Ph. D.
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<tr>
<td height="25">
<label style="cursor: pointer;" for="master">
<input id="master" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('master');" value="master" name="master">
Master's
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<tr>
<td height="25">
<label style="cursor: pointer;" for="bachelor">
<input id="bachelor" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('bachelor');" value="bachelor" name="bachelor">
Bachelor's
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<tr>
<td height="25">
<label style="cursor: pointer;" for="intermediate">
<input id="intermediate" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('intermediate');" value="intermediate" name="intermediate">
Intermediate
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<tr>
<td height="25">
<label style="cursor: pointer;" for="slc">
<input id="slc" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('slc');" value="slc" name="slc">
S.L.C.
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<tr>
<td height="25">
<label style="cursor: pointer;" for="other">
<input id="other" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('other');" value="other" name="other">
Other
</label>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td align="center" nowrap="">
<select >
<option value="-1">Current</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
</select>
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
</tbody>
</table>
</div>
<div id="training">
<p align="center">
<h1>Training</h1>
</p>
<table cellspacing="5" cellpadding="5" border="0" width="100%">
<tbody>
<tr>
<td colspan="4"></td>
</tr>
<tr>
<td>Topic</td>
<td>Training Objective</td>
<td>Duration</td>
<td>Place/Institute</td>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="yr1">
</td>
</tr>

</tbody>
</table>
</div>
<div id="work">
<p align="center">
<h1>Working Experience</h1>
</p>
<table cellspacing="0" cellpadding="0" border="1" align="center" width="767" height="121">
<tbody>
<tr>
<td width="90" bordercolor="#333333">
<div align="center">
<font size="3">Year Start</font>
</div>
</td>
<td width="90" bordercolor="#333333">
<div align="center">
<font size="3">Year End</font>
</div>
</td>
<td width="300" bordercolor="#333333">
<div align="center">
<font size="3">Company Name </font>
</div>
</td>
<td width="144" bordercolor="#333333">
<div align="center">
<font size="3">Position</font>
</div>
</td>
<td width="129" bordercolor="#333333">
<div align="center">
<font size="3">Salary</font>
</div>
</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="ys1">
</td>
<td bordercolor="#333333">
<input type="text" size="15" name="ye1">
</td>
<td bordercolor="#333333">
<input type="text" size="50" name="cn1">
</td>
<td bordercolor="#333333">
<input type="text" name="p1">
</td>
<td bordercolor="#333333">
<input type="text" name="s1">
</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="ys2">
</td>
<td bordercolor="#333333">
<input type="text" size="15" name="ye2">
</td>
<td bordercolor="#333333">
<input type="text" size="50" name="cn2">
</td>
<td bordercolor="#333333">
<input type="text" name="p2">
</td>
<td bordercolor="#333333">
<input type="text" name="s2">
</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="ys3">
</td>
<td bordercolor="#333333">
<input type="text" size="15" name="ye3">
</td>
<td bordercolor="#333333">
<input type="text" size="50" name="cn3">
</td>
<td bordercolor="#333333">
<input type="text" name="p3">
</td>
<td bordercolor="#333333">
<input type="text" name="s3">
</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="ys4">
</td>
<td bordercolor="#333333">
<input type="text" size="15" name="ye4">
</td>
<td bordercolor="#333333">
<input type="text" size="50" name="cn4">
</td>
<td bordercolor="#333333">
<input type="text" name="p4">
</td>
<td bordercolor="#333333">
<input type="text" name="s4">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<div id="language">
<p align="center">
<h1>Language Proficiency</h1>
</p>
<table cellspacing="5" cellpadding="5" border="0" width="100%">
<tbody>
<tr>
<td colspan="4"></td>
</tr>
<tr>
<td>Language</td>
<td>Reading</td>
<td>Writing</td>
<td>Speaking</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="24" bordercolor="#333333">
<input type="text" size="15" name="ys4">
</td>
<td align="left">
<select>
<option value="-1"></option>
<option value="Excellent">Excellent</option>
<option selected="" value="Good">Good</option>
<option value="Average">Average</option>
<option value="Poor">Poor</option>
</select>
</td>
<td align="left">

<select>
<option value="-1"></option>
<option value="Excellent">Excellent</option>
<option selected="" value="Good">Good</option>
<option value="Average">Average</option>
<option value="Poor">Poor</option>
</select>
</td>
<td align="left">
<select>
<option value="-1"></option>
<option value="Excellent">Excellent</option>
<option selected="" value="Good">Good</option>
<option value="Average">Average</option>
<option value="Poor">Poor</option>
</select>
</td>
</tr>
</tbody>
</table>
</div>

<div id="reference">
<p align="center">
<h1>References</h1>
</p>
<table cellspacing="5" cellpadding="5" border="0" width="100%">
<tr>
<p>
<label for="name"> Full Name</label>
<select id="title" name="title">
<option value="Mr." selected="">Mr.</option>
<option value="Ms.">Ms.</option>
</select>
<input id="name" type="text">
</p>
<td colspan="4">
<span id="span_err_refname1" class="errormessage"></span>
</td>
</tr>
<p>
<label for="address">Address</label>
<input id="refcity1"  type="text" value="" name="refcity1">
<select id="refcountry1" name="refcountry1">
<option value="">-- Select one --</option>
219
<option value="Afghanistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="American Samoa">American Samoa</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Anguilla">Anguilla</option>
<option value="Antigua">Antigua</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Aruba">Aruba</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Brazil">Brazil</option>
<option value="British Somaliland">British Somaliland</option>
<option value="Brunei">Brunei</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Burma">Burma</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Canary Islands">Canary Islands</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Caroline Islands">Caroline Islands</option>
<option value="Cayman Islands">Cayman Islands</option>
<option value="Centrafrique">Centrafrique</option>
<option value="Chad">Chad</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Congo (DRC)">Congo (DRC)</option>
<option value="Cook Islands">Cook Islands</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Cote d'Ivoire">Cote d'Ivoire</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Curacao">Curacao</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="East Timor">East Timor</option>
<option value="Ebeye Island">Ebeye Island</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Falkland Islands">Falkland Islands</option>
<option value="Faroe Islands">Faroe Islands</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="French Guiana">French Guiana</option>
<option value="French Polynesia">French Polynesia</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Gibraltar">Gibraltar</option>
<option value="Greece">Greece</option>
<option value="Greenland">Greenland</option>
<option value="Grenada">Grenada</option>
<option value="Guadeloupe">Guadeloupe</option>
<option value="Guam">Guam</option>
<option value="Guatemala">Guatemala</option>
<option value="Guernsey">Guernsey</option>
<option value="Guinea Republic">Guinea Republic</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Holland">Holland</option>
<option value="Honduras">Honduras</option>
<option value="Hong Kong">Hong Kong</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Ireland">Ireland</option>
<option value="Island of Reunion">Island of Reunion</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jersey">Jersey</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Laos">Laos</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macau">Macau</option>
<option value="Macedonia">Macedonia</option>
<option value="Madagascar">Madagascar</option>
<option value="Malawi">Malawi</option>
<option value="Malaysia">Malaysia</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Martinique">Martinique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mexico">Mexico</option>
<option value="Moldova">Moldova</option>
<option value="Monaco">Monaco</option>
<option value="Mongoliav">Mongoliav</option>
<option value="Montserrat">Montserrat</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Namibia">Namibia</option>
<option value="Nauru">Nauru</option>
<option selected="" value="Nepal">Nepal</option>
<option value="Netherlands Antilles">Netherlands Antilles</option>
<option value="New Caledonia">New Caledonia</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Niue">Niue</option>
<option value="Northern Marianas">Northern Marianas</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Romania">Romania</option>
<option value="Russia">Russia</option>
<option value="Rwanda">Rwanda</option>
<option value="Samoa">Samoa</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="St-Lucia">St-Lucia</option>
<option value="St. Croix">St. Croix</option>
<option value="St. Eustatius">St. Eustatius</option>
<option value="St. Martin">St. Martin</option>
<option value="St. Vincent">St. Vincent</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="The Netherlands">The Netherlands</option>
<option value="Togo">Togo</option>
<option value="Trinidad">Trinidad</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States of America">United States of America</option>
<option value="Uruguay">Uruguay</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Virgin Islands">Virgin Islands</option>
<option value="Virgin Islands (British)">Virgin Islands (British)</option>
<option value="Wallis and Futuna">Wallis and Futuna</option>
<option value="Yemen">Yemen</option>
<option value="Yugoslavia">Yugoslavia</option>
<option value="Zaire">Zaire</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
</select>
</p>
<p>
<label for="home">Home Phone</label>
<input id="refhomephone1"  type="text" value=""name="refhomephone1">
</p>
<p>
<label for="office">Office Phone</label></p>
<input id="refofficephone1"  type="text" value="" name="refofficephone1">
</p>
<p>
<label for="mobile">Mobile</label>
<input id="refmobile1" type="text" value="" name="refmobile1">
</p>
<p>
<label for="fax">Fax</label>
<input id="reffax1"  type="text" value="" name="reffax1">
</p>
<p>
<label for="email">Email</label>
<input id="refemail1" type="text" value="" name="refemail1">
</p>
<p>
<label for="company">Company Name</label>
<input id="refcompanyname1" type="text" value="" name="refcompanyname1">
</p>
<p>
<label for="company">Company Location</label>
<input id="refcompanylocation1" type="text" value="" name="refcompanylocation1">
</p>
<p>
<label for="designation">Designation</label>
<input id="refdesignation1" type="text" value="" name="refdesignation1">
</p>
<p>
<label for="relationship">Relationship</label>
<input id="refrelationship1" type="text" value="" name="refrelationship1">
</tbody>
</table>
</div>
<div id="submit">
<input type="submit" value="Submit" name="Submit">
</div>


</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr bgcolor="#333333">
<td height="19" bgcolor="#666666" colspan="2">
<span class="style18">
<span class="style24">
<span class="style23"></span>
</span>
</span>
</td>
</tr>
</tbody>
</table>
</form>
</div>
</div>
</div>
</div>
