
<div id="wrapper">
   <div id="how-we-work">
     <div class="nav"> <a class="to-top" href="#top">Up</a>
        <h3>How We Work</h3>
       <ul>
        <li class="selected"> <a href="#process"> Our Process </a> </li>
        <li> <a href="#what-we-do"> What We Do </a> </li>
        <li> <a href="#approach"> Our Approach </a> </li>
       </ul>
     </div>
    <div class="pages">
      <div class="strip">
        <div id="process" class="page">
          <div class="description">
            <p> Our design process ensures that the right things get done at the
              right time. It makes design predictable and manageable, and also
              frees our designers to do what they do best — design awesome products. </p>
          </div>
          <div class="content">
            <div class="analysis-and-insight">
              <h4>I  Analysis &amp; Insight</h4>
              <p> Through research and observations of the existing ecosystem we look: </p>
              <p> <strong>1—</strong>inside the company to understand the business case,
                context and processes where the new product or service will be deployed, and <br />
                <strong>2—</strong>outside to the ecosystem, market environment and culture. </p>
              <!--
								<p>
									<strong>Outcomes</strong>: design drivers, research data, images, models, directions,
									ideas, impressions, personas, stories, high level flows
								</p>
								-->
            </div>
            <div class="concept-design">
              <h4>II Concept Design</h4>
              <p> We use a design approach to find and invent new patterns, flows
                and frameworks for the future product or service. </p>
              <p> <strong>Outcomes</strong>: frameworks &amp; concepts, journeys, maps, principles,
                constraints, identities, task flows, requirements </p>
            </div>
            <div class="detailed-design">
              <h4>III Detailed Design</h4>
              <p> Based on the two previous phases, we design and deliver
                solutions that can be either a </p>
              <p> <strong>1—</strong>Final concept presentation, or<br />
                <strong>2—</strong>Final product or service specification and production assets </p>
              <p><strong>Outcomes</strong>: product or service specifications, experiences, interfaces, metrics</p>
            </div>
            <div class="implementation">
              <h4>IV Implementation</h4>
              <p> We participate in the implementation process and produce
                pixel-perfect graphics and refined interaction, i.e. as an
                integral part of an agile development team. We ensure that the
                design is implemented as intended: functional and beautiful. </p>
              <p><strong>Outcomes</strong>: refined specifications, product graphics, design support</p>
           </div>
          </div>
        </div>
      </div>
    </div>
          <div id="what-we-do" class="page">
          <div class="description">
            <p> We deliver new business and meaningful, innovative products and services. </p>
          </div>
          <div class="content">
            <div class="column">
              <p> Our work takes place in the intersection of design, technology
                and the larger context of business strategy. </p>
            </div>
            <div class="column">
              <p> <strong>1—Insight and Foresight</strong>: Our combination of
                experience and people-inspired design help us understand
                what’s valuable next and beyond in the future. </p>
              <p> <strong>2—Product Strategy</strong>: All our work aims at
                concrete products and services. Our conceptual work includes
                product strategy, service strategy, and roadmaps. </p>
              <p> <strong>3—Agile Design and Development</strong>: We have the
                experience and skills to effectively take design from insight
                to impact with our agile partners. </p>
            </div>
            <div class="image"> <img src="images/what-we-do.png" width="420" height="311" /> </div>
          </div>
        </div>
        <div id="approach" class="page">
          <div class="description">
            <p> Our work is driven by meaning, honesty and high quality. We take
              pride in delivering made-to-measure projects that are always
              based on understanding the big picture. </p>
          </div>
          <div class="content">
            <div class="design">
              <h4>Design Thinking + Doing</h4>
              <p> In our work, we don’t rely on any certain dogma but instead
                use our experience to pick the tried and tested methodologies
                in both intangible and tangible phases of our projects.
                Let's get to work. </p>
            </div>
            <div class="behaviour">
              <h4>Behaviour First</h4>
              <p> The core of our work is figuring how people behave and how
                they perceive the world around them. From these insights we
                design interactions which form the foundation in the
                relationship between the consumer and your product. </p>
            </div>
            <div class="context">
              <h4>Systems Thinking</h4>
              <p> We always design for the next, larger context in mind.
                The holistic system view enables us to better understand
                the effect of our work — be it economic, social or sustainable. </p>
            </div>
            <div class="interaction">
              <h4>Design Verbs, not Nouns</h4>
              <p> Interactions don’t exist in a vacuum but instead belong to a
                larger system. Before deciding what to build, it is important
                to first ask the right questions. This enables us to architect
                a system of solutions on different fidelities. Instead of
                designing a chair, first find the reasons why people sit. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
