<div id="main_wrapper">
<div id="wrapper_1">


<div class="main_content">
 <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 188px;
    margin: 0 20px 0 0;
    width: 182px";%></a>
<div class="intro_content">
<div class="content_title">
<span>Microfinance Program</span>
</div>

<div class="content_text">

   <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Since its inception period (july 2002) WSC has been implementing microfinance program as its major component. WSC has followed the Grameen Bank Model Propounded by Nobel laureate Prof. Muhammad Yunus of Bangladesh. The aim of the program is to uplift the socio-economic conditions of the poor women. By August, 2011 over 8000 poor women of Kathmandu District have been benifited from this program. The number of women involve in the program is increasing gradually both at rular and urban areas. In total 371 Women Support microfinance centers have been established in 29 VDCs and two Metropolitan Cities. Microfinance program is operating through five contact offices.</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due to the low income level and poor lifestyle of women,women have faced different types of social discrimination not only in nepal but also in the world.Because of the lack of parental property right to daughters,they do not posses land and house.They can not borrow loan from the bank or financial institution because financial institution needs collateral in terms of asset like land and house to borrow loan.So WSC provides microfinance services in the door steps of poor women to uplift their socio-economic status with group collateral.

   </p>
   </div>
   </div>
</div>

</div>


<div id="wrapper_2">


<div class="main_content">

<div class="intro_content" style="float:left;width:960px;margin:0 auto;">
<div class="objective_title">
<a><span>Saving Collection</span></a>
</div>

<div class="objective_text">
    <h2>Group Saving</h2>
       <p>When women becomes member of the organization they have to deposit
					allocated amount of compulsory saving every fortnight.They can withdraw
					the amount when the member leaves the organization. WSC provides interest
					according to organization rule.Depositor deposit small amount in installment
					basis, when they leave the organization they get large amount. In this way, it
					seems to be a small amount. WSC has collected Rs. 20.90 million in FY 2067/068. It can be 						said that drops makes an ocean.
				</p>
    <h2>Pesonal Saving</h2>
       <p>According to members need they can deposit or withdraw their savings at any time.
					These types of saving are categorized as personal savings. The Organization provides 8.0 percent interest on this saving products. Personel depositor can withdraw their personal saving whenever they need to pay loan installment repayment or other expenses. In this way total amount of personal savings till F/Y 2067/068 is Rs. 13.60 million.
				</p>

			<h2>Yojana Saving (Plan Saving)</h2>
			  <p>Considering the members future security, WSC has manage this kind of saving called Yojana savings. These types of savings have long term vision and it is different from other saving products. This type of product is like a pension saving. In this product members can deposit same amount of money in every center meeting for 10 or 15 years. When members reach the maturity period of 10 years.They can get one and half amount of the their deposited money. This scheme is just to attract members for retaining long period in the organization.If some one wants to leave the center, she can get 5.0 percent interest on their deposit. It is a compulsory saving scheme but the amount they diposited is volunteer. From this saving they can get contigent loan.
				</p>
      <h2>Upakar Kosh</h2>
        <p>All the penalties, donations, prizes and other funds are kept on this Kosh(fund). This
					kosh is used according to the decision of the center meeting. For example they can purchase mat, register etc. Up to this F/Y 2067/068 Rs. 4.5 lakh Upkar kosh has been collected.
				</p>



   </div>
   </div>
</div>

</div>
<div id="wrapper_3">


<div class="main_content">

<div class="intro_content" style="float:left;width:960px;margin:0 auto;">
<div class="objective_title" style="float:right;">
<span>Loan Disbursement</span>
</div>

<div class="objective_text">
  <h2>General Loan</h2>
			<p>For the purpose of income generating activities of the clients, General Loan of Rs. 15000.00
				 is provided as first year loan.According to client's loan utility and regular repayment status Rs. 5000.00 is increased on the loan amount every year. The rate of interest on providing loan is 25.0 percent. Upto the last F/Y 2067/068 WSC has Rs. 71.44 million general loan outstanding.
				</p>
	<h2>Seasonal Loan</h2>
		 <p>If any loanee needed additional loan after taking General loan,she get seasonal loan. All the 				processes of providing loan, loan demand, recommedation, interest rate and attaining is like 	general loan process. Up to this F/Y total seasonal loan outstanding is Rs. 12.35 million.
			</p>
	<h2>Contingency Loan</h2>
			<p>This type of loan is provided to meet contingency events such as to pay the school fee of client's
					children and medical treatment of client's and their family. General loanee can get this loan maximum amount of Rs. 2000 for the five months of period. This types of loan is not for proposse of investment in income generating activities.
			</p>


   </div>
   </div>
</div>

</div>
<%= render :partial => 'footer'%>
 </div>
