
<div id="wrapper">
<a href="/"><%=image_tag "logo_img.png", :id => "sub_page_logo",:alt=>"logo",:title=>"Home"%></a>
   <div id="slider">
  <ul class="navigation">
    <li><a href="#sites">What Is Microfinance</a></li>
    <li><a href="#files">Saving Collection</a></li>
    <li><a href="#editor">Loan Disbursement</a></li>

  </ul>

  <!-- element with overflow applied -->
  <div class="scroll">
    <!-- the element that will be scrolled during the effect -->
    <div class="scrollContainer">
      <!-- our individual panels -->
      <div class="panel" id="sites"> <h3>What Is Microfinance</h3>

                      <a> Microfinance program</a>
			                    <p>Since its inception period (July, 2002) WSC has been implementing Micro-finance program
			                        as its major component. WSC has followed the Grameen Bank Model to operate the Micro-finance
			                        program.The aim of the program is to uplift the socio-economic conditions of the poor mainly
			                        the women. By August, 2011 over 8,000 poor women of Katmandu district have been benefited
			                        from this program. The number of women involve in the program is increasing gradually both
			                         at rural and urban areas. In total 371 Women Support Microfinance Centers (WSMFC) have been
			                         established in 29 VDCs and two Metropolitan Cities.
			                        Due to low income level and poor lifestyle of women , the have faced different types of
			                        social discrimination not only in Nepal but also in the world. because of parental property
			                       right to daughters, they do not possess land and house due to which they cannot borrow loan
			                       from bank or financial institution because such financial institution needs collateral in
			                        term of assets like land and house to borrow loan. So WSC is providing Microfinance services
			                       in door steps of poor women to uplift their socio economic status with group collateral.
			                   </p>

		    </div>




      <div class="panel" id="files"> <h3>Saving Collection</h3><span>Group saving:</span><p>When women becomes member of the organization they have to deposit
														allocated amount of compulsary saving every fortnight. They can withdraw
														the amount when the member leavs the organization. WSC provides interest
														according to organization rule. Depositor deposit small amount in installmen
														basis, when leave the organization they get large amount. In this way, it
														seems small amount. thus its onto making ocean with drops and drops.
													</p>

													<span>pesonal saving:</span><p>Accordin to members need they can deposit or withdraw their savings at any time
														These types of saving at any time. These types of saving are categorized as
														personal savings. These Organization provides 8.0 percent nterest on this saving
														schemes. personel depositor can withdrae their personal saving whenever they need
														to pay loan installment repayment or other expenses.
													</p>

														<span>Yojana saving (plan saving):</span><p>Considering the member future security, WSC has managed this kind of saving called
															 Yojana saving. These type of saving have long term vsion and it is different from other
																saving schemes. This type of product is like a pension saving. In this scheme, member
																members can deposit same amount of money in every center meeting for 10 to 15 years.
															when member reach the maturity of 10 years, they can get one and half amount of their
															deposited money. When deposit period crosses 15 years, the depositor shall get double
															amount of the deposited money. If the depositor wants to call-off before descr
															timeline shall get 5.0 percent interest on their deposit. It is compulsary saving
															schemes but the amount they deposit is volunteer. From the saving they can get contigent
																				loan.
														</p>

														<span>Upakar kosh:</span><p>all the penalties, donations, prizes and other funds are kept on this Kosh(fund). This
																kosh is used according to the decision of the center meeting.
														</p></div>





      <div class="panel" id="editor"><h3>Loan Disbursement</h3>
													<a>General loan</a>
														<p>For the purpose of income generating activities of the clients, general loan of Rs. 15000.00
														is provided as first year loan utility and regular repayment status Rs. 5000.00 is is increased
															loan amount every year. The rate of interest on providing loan is 25.0 percent. Upto the last
																fiscal year 2067/68 WSC has Rs. 71.44 million general loan outstanding
														</p>
													<a>Seasonal loan<a>
													  <p>If a loan bearer needs an additional loan after taking general loan then a person can get
															seasonal loan. All the processes of providing loan, loan demand, recommendation, interest rate
															and attaining is like that of general loan process.
													</p>
												<a>Contingency loan<a>
											<p>This type of loan is provided to meet contingency events such as pay the school fee of the client's
													children and medical treatment of client's and their family. General loan bearer can get this loan
												maximum of Rs. 2000  for the five months of the period. This type of loan is not for the purpose of
																							investment in income generating activities.
											</p>
										</div>

    </div>
  </div>
</div>
    </div>
