<div class="news_and_events_text">
  <%= image_tag "#{news_and_event.image_path}", :class=>"activities_img";%>
  <p>
    <%= news_and_event.headline%>
    <%= link_to "Read more","#", :class=>"activities_read" %>
  </p>
</div>
