/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
*{
 margin:0 auto;
 paddong:0;

}
body{
      background:#545d5c;
    }
#social_network{
      float:right;
      height:30px;
      width:137px;
      display:block;
      margin-top:25px;
    }
.social_network_text{
      float:left;
      color:#ffffff;
      font-size:12px;
      padding:8px;
    }
.facebook{
      height:30px;
      float:left;
      width:30px;
      display:block;
      background:url("social_network_img.png") no-repeat top left;
    }
   .facebook:hover{

      background:url("social_network_hover_img.png") no-repeat top left;
    }
.twitter{
      height:30px;
      float:left;
      width:30px;
      margin:0 0 0 5px;
      display:block;
      background:url("social_network_img.png") no-repeat top right;
    }
    .twitter:hover{

       background:url("social_network_hover_img.png") no-repeat top right;
    }
#wrapper{
     width:960px;
     margin:0 auto;
     display:block;
    }

/*........navigation..............*/

#nav{
    height:80px;
    width:960px;
    display:block;
    margin:0 auto;

  }

#m_nav{
    float:left;
    margin:30px 0 0 150px;
  }

#m_nav ul,ul.navigation,  #sub_nav ul{
    list-style:none;
    margin-top:90px;
    width:700px;
  }
#m_nav li,ul.navigation li, #sub_nav li{
    margin-left:10px;
    display:inline;

  }
.active{
    color:#519aad !important;
  }
.active_nav,ul.navigation a{
font-family:'teXGyreAdventorRegular';
   text-decoration:none;
   color:#ffffff;
   font:16px;
  }
.active_nav:hover,#sub_nav a:hover,ul.navigation a:hover{
    text-decoration:none;
    color:#519aad;
    font:16px;
  }

#sub_nav{
    float:left;
    margin:30px 0 0 60px;
  }
#sub_nav a{
   text-decoration:none;
   color:#ffffff;
    font-size:12px;
  }
.sub_nav_icon{
   height:30px;
   width:50px;
   display:block;
   background:url("social_network_img.png") no-repeat top left;
  }

/*........end of  navigation..............*/

/*.......footer................*/
#footer{
     height:200px;
    background:url('border_Img.png')repeat-x left top;
     margin-top:30px;
     width:960px;
     margin:0 auto;
     display:block;
    }

#main_footer{
   height:13px;
   background:#636969;
   border-radius:10px;
   float:left;
   width:920px;
   margin:30px 0 0 0;
  padding:18px 20px 14px 20px;
}
#main_footer p{
    float:left;
    font-family: 'arial',serif;
    color:#484d4c;
    font-size:14px;
    margin-left:10px;
  }
#back{
right:0;

bottom:0;
position:relative;

width:82px;
  }
.back_img{
   margin-left:20px;
   margin-top:20px;
  }

.owner{
   float:right;
   color:#484d4c;
   text-decoration:none;
   font-size:12px;
   font-family: 'arial',serif;

}
.owner span:hover{

   color:#fff;
}

/*.......end of  footer................*/


/*.....text slider for all pages..........*/
.panel h3{
 color:#519aad;
 margin-left:20px;
 font-family: 'Habibi',serif;

}
.panel p{
  color:#fff;
  padding:0 20px 20px 20px;
   font-family: 'Habibi',serif;
   width:530px;
}
#sites,#files,#editor,#Basundhara,#Balkhu,#mahankaal{
 background:#545d5c;

}
#slider {
  width: 620px;
  margin-left:155px;
}


p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
	margin-bottom:20px

  margin: 0 auto;
  position: relative;
}
.scroll {
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */


}

.scrollContainer div.panel {
  padding: 20px;

  width: 580px; /* change to 560px if not using JS to remove rh.scroll */
}
.scrollButtons {
  position: absolute;
  top: 150px;
  cursor: pointer;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}


/*-----------board members---------*/
