/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
*{
 margin:0 auto;
 padding:0;

}
body{
 text-align:justify;
}
#social_network{
      float:right;
      height:30px;
      width:137px;
      display:block;
      margin-top:37px;
    }
.social_network_text{
      float:left;
      color:#ffffff;
      font-size:12px;
      padding:8px;
    }
.facebook{
      height:30px;
      float:left;
      width:30px;
      display:block;
      background:url("social_network_img.png") no-repeat top left;
    }
   .facebook:hover{

      background:url("social_network_hover_img.png") no-repeat top left;
    }
.twitter{
      height:30px;
      float:left;
      width:30px;
      margin:0 0 0 5px;
      display:block;
      background:url("social_network_img.png") no-repeat top right;
    }
    .twitter:hover{

       background:url("social_network_hover_img.png") no-repeat top right;
    }
#main_wrapper{
  background-color:#545d5c;
  width:100%;
  display:block;
  float:left;

}
#wrapper{
     width:960px;
     margin:0 auto;;
      padding:0 0 60px 0;
     display:block;
     background:url('border_Img.png')repeat-x left bottom #545d5c;
    }
#wrapper_7{
     width:960px;
     margin:0 auto;;
      padding:0 0 60px 0;
     display:block;
     background:#545d5c;
    }

/*........navigation..............*/

#nav{
    height:100px;
    display:block;
    background:#545d5c;
     font-family: 'arial',serif;
}
#main_nav{
  width:960px;
  margin:0 auto;
  display:block;
}

#m_nav{
    float:right;
    margin:12px 0 0 0;
}

#m_nav ul,  #sub_nav ul{
    list-style:none;
    margin-top:30px;
    margin-left: 14px;

  }
#m_nav li, #sub_nav li{
    margin-left:10px;
    display:inline;

  }
.active{
    color:#519aad !important;
  }
.active_nav,ul.navigation a{

   text-decoration:none;
   color:#ffffff;
   font:16px;
  }
.active_nav:hover,#sub_nav a:hover{
    text-decoration:none;
    color:#519aad;
    font:16px;
  }

#sub_nav{
    float:right;
    margin:11px 0 0 45px;

  }
#sub_nav a{
   text-decoration:none;
   color:#ffffff;
    font-size:12px;
  }
.sub_nav_icon{
   height:30px;
   width:50px;
   display:block;
   background:url("social_network_img.png") no-repeat top left;
  }

/*........end of  navigation..............*/

/*.......footer................*/
#footer{


     float:left;

     width:100%;
     display:block;
    }
#sub_footer{
    width:100%;
    float:left;
    diplay:block;
}
#copyright{

   height:13px;
   background:#636969;
   border-radius:10px;
  display:block;
  clear:both;
   width:960px;

  padding:22px;

}
#copyright p{
    float:left;
    font-family: 'arial',serif;
    color:#484d4c;
    font-size:14px;
    margin-left:10px;
  }
#back{

display:block;

position:relative;
height:81px;
width:100%;
  }
.back_img{
  float:right;
  margin-top:30px;
  }

.owner{
   float:right;
   color:#484d4c;
   text-decoration:none;
   font-size:12px;
   font-family: 'arial',serif;

}
.owner span:hover{

   color:#fff;
}
#contact p{
    color:#ffffff;
    font:normal 14px/21px 'arial',serif;
   }
   #contact{

   width:280px;

   border-radius:10px;
   background:#636969;

   display:block;
   margin-top:50px;
   padding:10px;
  }
 #contact:hover{

 background: #027c02;
 }

/*.......end of  footer................*/



#activity{
    float:right;

    background: url("border_Img.png") repeat-x scroll left bottom;
}
/*-----------board members---------*/
