/*...........banner........*/
.fl{
float:left;
}
.fr{
float:right;
}
#banner{
   display:block;
   height:329px;

   background:#519aad;
   width:100%;
  }
#banner_content{
   display:block;
   width:960px;
   height:329px;
    background:url('women.png') no-repeat bottom right;
   margin:0 auto;

  }

#content{
  float:left;
  height:330px;
  width:300px;
  display:block;
  overflow:hidden;
 }
#content p{
  color:#fff;
  font-size:14px;
  margin:18px 0 19px 0 ;
 }
#intro{
float:right;
color:#fff;
 margin:30px 0px 0 20px;
 font-family:Terminal Dosis, sans-serif;
 font-size:42px;
 font-weight:bold;
  height:65px;
  text-shadow: -3px -3px 5px #3a3a3a;
 }
#intro_text{
  font-family: 'arial', serif;
  color:#ffffff;
  display:block;
line-height:24px;
 width:734px;
 float:right;
margin:0 0 0px 0;

}
#logo {
   margin:30px 20px 0 0;
   float:left;
   height:194px;
   width:172px;
   display:block;

}



.read_more{
  background-color: #636969;
  float: right;
  padding: 5px 10px;
  color:#ffffff;
  font-size:20px;
  text-align: center;
  border-radius:5px;
  text-decoration:none;
   display:block;
   font-family:"arial", serif;

}
.read_more:hover{
  background-color: #027c02;

}
.read_more_big {
   background-color: #636969;
  float: right;
  padding: 5px 0px;
  color:#ffffff;
  font-size:20px;
  text-align: center;
  border-radius:5px;
  text-decoration:none;
   display:block;
   width:100%;
      font-family:"arial", serif;

}
.read_more_big:hover{
  background-color: #027c02;

}
#sub_banner_content{
margin:20px 0 0 0;
height:65px;
width:319px;
display:block;
float:left;


}
#main_banner_content{

height:223px;
float:left;
display:block;



}
