// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#banner{
display:block;
   height:329px;
   border-top:4px solid 	#f4b89e;
   border-bottom:4px solid 	#f4b89e;
   background:#ad6443;
   width:100%;
}
#banner_content{
display:block;
 width:960px;
 height:329px;
 margin:0 auto;
  background:url("WomenTree_bg.png") no-repeat bottom right;
}

#content{
  float:left;
  height:300px;
  width:330px;

}

#content p{
  color:#fdcfc0;

  font-size:14px;
}

#intro{
  font-size:32px;
  color:#F3b99F;

 margin:15px 0 0 205px;
 height:65px;
  text-shadow: -3px -3px 5px black;
}

#intro_text{
  font-family: 'Habibi', serif;
  color:#F0BA9E;
  width:410px;
  text-align:justify;
  float:left;
}

#logo {
    background: none repeat scroll 0 0 #FADFD4;
    border: 3px solid #F2B8A0;
    border-radius: 0 0 10px 10px;
    float: left;


    position: relative;
    top: -74px;
    z-index: 1;
}

#logo:hover {
    background: none repeat scroll 0 0 #FADFD4;
    border: 3px solid #F2B8A0;
    border-radius: 0 0 10px 10px;
    float: left;
    -moz-transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;

    position: relative;
    top: -74px;
    z-index: 1;
}

nav.pagination span{
margin:0px;
}
nav.pagination a{
text-decoration:none;
color:#efefef;
}

#read_more{
  background-color: #F0BA9E;
  float: right;
  padding: 0px 20px;
  color:#ad6443;
  font-size:20px;
  text-align: center;
  width: 272px;
}
#sub_banner_content{

  display:block;
   margin:25px 0 0 0;
  height:224px;
  background:url("women_standing_bg.png") no-repeat bottom left;
}
#sub_banner_image_title{
 width:325px;
 margin-left:30px;
 float:left;


}

#women_standing{
   float:left;
}

#title_img{
  float: right;
  margin-top: 12px;
  margin-bottom:12px;
  width: 318px;
}

#m_content{
  height:350px;
  margin-top:30px;

}

#image{
  height:170px;
  width:160px;
  margin-left:80px;
  border:2px solid #fff;
  border-radius:10px;
  overflow:hidden;

}


.read{
  height:50px;
  width:300px;
  background:#ad6443;
  border-radius:10px;

}
.read a,#read_text a{
  text-decoration:none;
  color:#f0ba9e;
  margin-left:30px;
  font-size:30px;

}
#gallery{
  float:right;
  height:300px;
  width:600px;
  border-radius:10px;
  border:10px solid #ad6443;
  overflow:hidden;
}
#sub_content{
   height:450px;


}
.sub_main{


  width:300px;

  float:left;
}
.news{
 float:left;
 height:350px;
 width:290px;
  font-family: 'Habibi',serif;
 border-radius:10px;
 background:#ad6443;
}
.sub_main p{
  color:#fdcfc0;
  font-size:12px;
   padding:15px 15px 15px 15px;

}
.sub_main_activities{
   color:#fdcfc0;
  font-size:12px;

   padding:15px 15px 15px 15px;
    width:290px;

  float:left;
}
.sub_main span{
 margin:0 0 0 110px;

 color:#fff;
 font-size:20px;
}
.sub_news p {
    color: #FDCFC0;
    font-size: 12px;
}

.act{
 float:left;
 margin-top:20px;
  margin-left:5px;
 border-radius:10px;

}
.activities_text{
   height:120px;
   border-bottom:1px dashed #fdcfc0;
}
.news_and_events_text{
   height:120px;
   border-bottom:1px dashed #fdcfc0;
}
.activities_img{
  border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 20px 0 0 10px;
    height:50px;
    width:auto;


}
.activities_text p{
 float: right;

    padding: 6px 0 30px;
    width: 175px;
}

.news_and_events_text p{
 float: right;

    padding: 6px 0 30px;
    width: 175px;
}
.activities_read{
   background: none repeat scroll 0 0 #5A3E33;
     border-radius: 4px 4px 4px 4px;
    color: #FDCFC0;
    float: right;
    height: 25px;
    margin: 2px 103px 0 0;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}
.sub_main_activities span{
      margin:0 0 0 110px;
       color:#fff;
     font-size:20px;
}

.sub_news{
  border-bottom:1px dashed #fdcfc0;

}


.text{
  color:#fadfd4;
  margin-left:70px;
}


#contact{
   height:100px;
   width:300px;
   margin-left:330px;
   border-radius:10px;
 background:#ad6443;
 float:left;
 margin-top:50px;
}
.map{
  margin-left:50px;
   margin-top:20px;
}
#contact p{
 color:#FDCFC0;
 font-size:14px;
 text-align:center;
 font-family: 'Habibi',serif;

}
.branch{
    color:#fff;
 font-size:14px;
 padding:0 0 0 20px;
 text-sub_maingn:center;
}
