// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*...........banner........*/
#banner{
   display:block;
   height:329px;

   background:#519aad;
   width:100%;
  }
#banner_content{
   display:block;
   width:960px;
   height:329px;
    background:url('women.png') no-repeat bottom right;
   margin:0 auto;

  }

#content{
  float:left;
  height:330px;
  width:300px;
  display:block;
  overflow:hidden;
 }
#content p{
  color:#fff;
  font-size:14px;
  margin:18px 0 19px 0 ;
 }
#intro{
float:right;
  font-size:32px;
color:#fff;
margin:30px 0px 0 20px;
  font-family:'aerial';
  height:65px;
  text-shadow: -3px -3px 5px black;
 }
#intro_text{
  font-family: 'arial', serif;
  color:#ffffff;
  display:block;
line-height:24px;
 width:734px;
 float:right;
margin:0 0 0px 0;

}
#logo {
   margin:30px 20px 0 0;
   float:left;
   height:194px;
   width:172px;
   display:block;

}



.read_more{
  background-color: #636969;
  float: right;
  padding: 5px 10px;
  color:#ffffff;
  font-size:20px;
  text-align: center;
  border-radius:5px;
  text-decoration:none;
   display:block;

}
.read_more:hover{
  background-color: #027c02;

}
.read_more_big {
   background-color: #636969;
  float: right;
  padding: 5px 0px;
  color:#ffffff;
  font-size:20px;
  text-align: center;
  border-radius:5px;
  text-decoration:none;
   display:block;
   width:100%;

}
.read_more_big:hover{
  background-color: #027c02;

}
#sub_banner_content{
margin:20px 0 0 0;
height:65px;
width:319px;
display:block;
float:left;


}
#main_banner_content{

height:223px;
float:left;
display:block;



}



#m_content{
  height:330px;
  margin:30px 0 0 0;
  display:block;

}

#image{
  height:170px;
  width:160px;
  margin-left:66px;
  border:2px solid #fff;
  border-radius:10px;
  overflow:hidden;
  display:block;

}


.read{
  height:50px;
  width:300px;
  background:#529bae;
  border-radius:10px;

}
.read a,#read_text a{
  text-decoration:none;
  color:#f0ba9e;
  margin-left:30px;
  font-size:30px;

}
#gallery{
  float:right;
  height:310px;
  width:600px;
  border-radius:10px;
  border:10px solid #636969;
  overflow:hidden;
}
#sub_content{
   height:430px;
   display:block;
   margin:0 auto;
  margin:30px 0 60px 0px;

}
.sub_main{


  width:300px;

  float:left;
}
.news{
 float:left;
 height:360px;
 width:300px;
 display:block;
  font-family: 'arial',serif;
 border-radius:10px;
 background:#636969;
}
.sub_main p{
  color:#fdcfc0;
  font-size:12px;
   padding:15px 15px 15px 15px;

}
.sub_main_activities{
   color:#fff;
  font-size:12px;
display:block;
height:430px;
margin:0 30px 0 0;
    width:300px;

  float:left;
}
.sub_main span{
 margin:0 0 0 110px;

 color:#fff;
 font-size:20px;
}
.sub_news p {
    color: #FDCFC0;
    font-size: 12px;
}

.act{
 float:left;
 margin-top:20px;
  margin-left:5px;
 border-radius:10px;

}
.activities_text{
   height:120px;
   border-bottom:1px dashed #fdcfc0;
}
.news_and_events_text{
   height:120px;
   border-bottom:1px dashed #fdcfc0;
}
.activities_img{
  border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 20px 0 0 10px;
    height:50px;
    width:auto;
  }
.activities_text p{
    float: right;
    padding: 6px 0 30px;
    width: 175px;
}

.news_and_events_text p{
 float: right;

    padding: 6px 0 30px;
    width: 175px;
}
.activities_read{
   background: none repeat scroll 0 0 #545d5a;
     border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    float: right;
    height: 25px;
    margin: 2px 103px 0 0;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}
.sub_main_activities span{
      margin:0 0 0 110px;
       color:#fff;
     font-size:20px;
}

.sub_news{
    border-bottom:1px dashed #fdcfc0;
    }
.text{


  text-align:center;
    color:#fff;

    }
nav.pagination span{
     margin:0px;
    }
nav.pagination a{
    text-decoration:none;
    color:#efefef;
   }


#contact{
   height:80px;
   width:280px;
   margin-left:330px;
   border-radius:10px;
   background:#636969;
   float:left;
   display:block;
   margin-top:50px;
   padding:10px;
  }
 #contact:hover{

 background: #027c02;
 }
.map{
    margin-left:50px;
    margin-top:20px;
  }
#contact p{
    color:#ffffff;
    font-size:14px;
    line-height:20px;
    font-family: 'arial',serif;
   }
.branch{
    color:#fff;
 font-size:14px;
 padding:0 0 0 20px;
 text-sub_maingn:center;
}

/*--paginatot--*/

.pagination{
  position:relative;
  margin-top:50px;
}

#news_and_events_block{
  display:block;
  height:250;

}

.map_css{
  margin:10px 0 0 20px;
  width:250px;
}

/****googlemap***/

#basic-modal-content {
  display:none;
}

#simplemodal-container a.modalCloseImg {background:none; right:-14px; width:22px; height:26px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/basic/x.png',sizingMethod='scale');}
    font-size:14px;
    padding:15px 10px;;
    text-sub_maingn:center;
   }
