// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*--------jobs-----------dhami*/
#wrapper h1{
            color:#aa6544;
						font-size:20px;
						margin-top:160px;
}

label{
       font-family: 'Habibi',serif;
}

#sex{
			color:#aa6544;
}


#married{
         color:#aa6544;
				 font-size:16px;
				 font-family: 'Habibi',serif;
				 margin-top:10px;
}

#marital{
          margin-top:-20px;
					margin-left:165px;
}

#date{
      color:#aa6544;
			font-family: 'Habibi',serif;
			font-size:16px;
}


#month{
				margin-top:-38px;
				margin-left:165px;
}

#licence{
         color:#aa6544;
				 font-family: 'Habibi',serif;
				 font-size:16px;
}

#drive{
       margin-top:-20px;
			 margin-left:165px;
}

#any{
     margin-top:-25px;
		 margin-left:225px;
}

#tele{
			color:#aa6544;
		  font-family: 'Habibi',serif;
			font-size:16px;
}

#number{
				margin-left:17px;
}

#mail{
			color:#aa6544;
			font-family: 'Habibi',serif;
			font-size:16px;
}

#Email{
       margin-left:54px;
}

#work{
			color:#aa6544;
			font-family: 'Habibi',serif;
}

#education{
						color:#aa6544;
						font-family: 'Habibi',serif;
}




/*.........end of jobs page..........*/



#sub_m_nav a {
   text-decoration:none;
   color:#F0BA9E;
    margin-left:20px;
   font-size:20px;
}
.column1 {
    display: block;
    float: left;
    margin-right: 15px;
    width: 220px;
}

/*......news activities main page........*/

.image_activity{
  height:200px;
  width:auto;
}
