// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.panel h3{
 color:#519aad;
 margin-left:20px;

}
.panel p{
  color:#fff;
  padding:0 20px 20px 20px;
   font-family: 'Habibi',serif;
}
