<div class="activities_text">
  <%= image_tag "#{activity.image_path}", :class=>"activities_img";%>
  <p>
    <%= activity.headline%>
    <%= link_to "Read more","#", :class=>"activities_read" %>
  </p>
</div>
