<div id="banner">

  <div id="banner_content">
     <div id="main_banner_content">
        <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home"%></a>
        <h1 id="intro" >11 Years Of Excellence In Microfinance Service</h1>
        <div  id="intro_text">
        <p>Women Support Co-operative Ltd.(WSC) was established by 28 professional women promoters on December 20, 1999 under the "Co-operative Act, 1992", Government of Nepal. The main objectives of WSC is to empower rural as well as urban poor and deprived women providing financial supports through microfinance program of its service areas of Kathmandu District.
          </p>
          </div>
      </div>
      <div id="sub_banner_content">

 <%= image_tag "logo_identity_img.png"%>





        </div><!---end of sub_banner_content -->
 <a  href="/pages/about_us.html" class="read_more">READ MORE ABOUT US</a>

 </div>
 </div>
