 <div id="footer">
      <div id="contact">
            <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

      </div>
      <div id="back">
       <a href="#"><%= image_tag"up_Arrow.png", :class=>"back_img"%></a>
      </div>

      </div>
      <div id=main_footer>
              <p>copyright:2012 Women Support Co-Operatives Ltd.All Right Reserved</p>
              <a href="http://www.revol-tech.com.np/" class="owner">powered by:<span >Revol-Tech</span></a>
      </div>
